
<!DOCTYPE html>
<html lang="en">
  {% set current_route = app.request.attributes.get('_route') %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
    <title>{{ project.name }} {% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="/custom_css/styles.css">
   
    <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% block head %}{% endblock %}
  </head>

  <body class="{{ current_route }}">


 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <img class="brand" src="assets/locavores-logo.png">
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="/ingredient/2">Ingredient</a></li>
              <li><a href="/challenge">Challenge</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


      
    <div class="container-fluid">
      
      
      {% for notice in app.session.flashbag.get('notice') %}
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button
            <strong>Notice</strong: {{ notice }}
        </div>
      {% endfor %}
      

      
      {% block body %}{% endblock %}
      


      <div class="footer">
        <p>&copy; {{ "now"|date('Y') }} {{ project.name }} v{{ project.version}}</p>
      </div>

    </div> <!-- /container -->
  </body>
</html>